@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
.playfair     {font-family: 'Playfair Display', serif;}

.fbg    {background-color: #4e4b4f;}
.fbg a     {background-color: #4e4b4f; color: #fff;}