@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.playfair     {font-family: 'Playfair Display', serif;}

.bdr     {border: 3px solid #4e4b4f; line-height: 40px;}

.menu a     {color: #4e4b4f !important; font-size: 18px; font-weight: 400; cursor: pointer;}

.faicon     {font-size: 24px !important;}

.fbg    {background-color: #4e4b4f !important;}

.fbg a     {background-color: #4e4b4f; color: #fff;}


.navbar-expand-lg .navbar-nav .nav-link {padding-right: 5px !important; padding-left: 8px !important;}