@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.playfair     {font-family: 'Playfair Display', serif; color: #4e4b4f;}

.mull     {font-family: 'Playfair Display', serif;}

.hdg        {border-bottom: 1px solid #616161;}

.tcol     {color: #616161;}

